<form method="POST" action="/login" class="card card-body bg-secondary mt-5">
    <input class="form-control mb-2" name="user" placeholder="user" required>
    <input class="form-control mb-3" type="password" name="pass" placeholder="pass" required>
    <button class="btn btn-primary">login</button>
</form>