<!-- File: web/views/login.ejs -->
<div class="d-flex justify-content-center align-items-center" style="min-height:90vh">
    <form method="POST" action="/login" class="bg-white text-dark p-4 rounded shadow-lg"
        style="max-width:360px;width:100%">
        <h3 class="text-center mb-4">Sign In</h3>
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="user" class="form-control" required>
        </div>
        <div class="mb-4">
            <label class="form-label">Password</label>
            <input type="password" name="pass" class="form-control" required>
        </div>
        <button class="btn btn-accent w-100">Login</button>
    </form>
</div>